@model Restaurant.Models.Cuisine

@{
    ViewBag.Title = "Insert New Cuisine Details";
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
   
    <style type="text/css">
        input[type=text], select {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }

        input[type=submit] {
            width: 100%;
            background-color: #4CAF50;
            color: white;
            padding: 14px 20px;
            margin: 8px 0;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

            input[type=submit]:hover {
                background-color: #45a049;
            }

        td {
            font-weight: bold;
        }
    </style>
    @section Scripts{


        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.js"></script>
        <script type="text/javascript" src="/scripts/main.js"></script>
        <script type="text/javascript">
            $(function () {

                $('#ddlRestaurant').on("change"(function () {
                    debugger;
                    alert('hii');
                    //Get Dropdownlist seleted item text
                   
                    ViewData["ResName"] = $("#ddlRestaurant:selected").text();
                    //Get Dropdownlist selected item value
                    ViewData["ResId"] = $("#ddlRestaurant").val();
                    //alert($("#UserId").val());
                    alert("#ddlRestaurant");
                })
                    })
        </script>
    }
</head>
<body>

    @using (Html.BeginForm("InsertCusine", "Cuisine", FormMethod.Post, new { @class = "form-group" }))
    {
        <table>
            <tr>
                <th colspan="2"><h2>Create New Cuisine Details</h2></th>
            </tr>
              
           
            <tr>
                <td>
                    Restaurant Name:
                </td>

                <td>

                    @Html.DropDownList("RestaurantID", new SelectList(ViewBag.Data, "RestaurantID", "RestaurantName"),"-------Select Restaurant-------")
                
                </td>
            </tr>

            <tr>
                <td>
                    Cuisine Name:
                </td>

                <td>
                  @Html.TextBoxFor(a=>a.CuisineName)

                </td>
            </tr>



            <tr>
                <td></td>
                <td>
                 
                    <input id="Submit1" type="submit" value="Insert" class="btn-primary" />
                </td>


            </tr>
           
            <tr>
                <td>
                @ViewData["ResultInsert"]
                </td>
            </tr>
        </table>
    }
</body>

</html>


}

